doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    if title
      title.
        !{title}
    else
      title Where Away?
    style
      include ./main.css
    .
      !{htmlHead}
  body
    #header.
      !{headerHTML}
    button#tab-index-reset
    #main
    script.
      const bookmarks = !{bookmarks};
    script
      include ./main.js
    #footer.
      !{footerHTML}
